# Django Settings
DEBUG=False
SECRET_KEY=your-production-secret-key-here
ALLOWED_HOSTS=api.flexyridegh.com,flexyridegh.com

# Database
# If running Django locally: use localhost
# If running Django in Docker but DB on Host: use host.docker.internal (requires extra_hosts in compose)
DATABASE_URL=postgres://postgres:ravendb@host.docker.internal:5432/flexyride_db
REDIS_URL=redis://redis-host:6379/0

# Infrastructure
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq-host:5672//
CELERY_RESULT_BACKEND=redis://redis-host:6379/1

# APIs
GOOGLE_MAPS_API_KEY=AIza...
PAYSTACK_PUBLIC_KEY=pk_live_...
PAYSTACK_SECRET_KEY=sk_live_...

# Monitoring
SENTRY_DSN=https://your-sentry-dsn

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.flexyridegh.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=noreply@flexyridegh.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=FlexyRide <noreply@flexyridegh.com>
ADMIN_EMAIL=admin@flexyridegh.com
