# Environments
venv/
.env
.venv/
env/

# Django specific
staticfiles/
media/
db.sqlite3
db.sqlite3-journal
local_settings.py

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.installed.cfg
.eggs/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.noseresults
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore